@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/Montserrat-Regular.ttf);
}
body{
    margin:0;
    background-color:#010712;
    background-image:url(https://static.pexels.com/photos/1526/dark-blur-blurred-gradient.jpg);
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:100vh;
  }
table.cal{
    margin: auto;
    padding: 10px;
    width: 80%;
    height: 90%;
    position: relative;
    top: 5%;
}
table.cal{
    border-radius: 15px 15px 15px 15px;
    background-color:#232227;
}
thead th{
    color: #E76642;
    padding: 0;
    padding-top: 20px;
    padding-bottom: 50px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}
.head{
    height: 50px;
    
}
tbody{
    color: #ECECE7;
    font-family: 'Montserrat', sans-serif;
}
.cal td{
	width:75px;
	height:75px;
    vertical-align: top;
    margin: 2px;
    padding-bottom: 8px;
    padding-left: 2px;  

}
.old{
    visibility: hidden;
	padding:0;
	margin: 0;
}
span{
	display: block;
	text-align: center;
	color: #FDD8DD;
	visibility: hidden;
}

td:active >span{
	visibility:visible;
}
.mark, .holiday{
    color: #6EACD8;
}
